#include "../corne-trackpad/cirque-i2c.dtsi"

/ {
    /* Direct HID mouse on this MCU. No split. */
    trackpad_direct_listener: trackpad_direct_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
    };
};
